[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/cequenser
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cequenser
	label-Verified = -1..+1 group user/cequenser
	push = group user/cequenser
	read = group user/cequenser
	rebase = group user/cequenser
	removeReviewer = group user/cequenser
	submit = group user/cequenser
[access "refs/heads/*"]
	create = group user/cequenser
	push = +force group user/cequenser
	pushMerge = group user/cequenser
	read = group user/cequenser
[access "refs/tags/*"]
	push = group user/cequenser
	push = +force group user/cequenser
[receive]
	requireChangeId = true
