[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/cequenser
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group seq-ci
	label-Code-Review = -2..+2 group seq-dev
	label-ClangFormat = -1..+1 group seq-ci
	label-ClangTidy = -1..+1 group seq-ci
	label-Linux-GCC = -1..+1 group seq-ci
	label-Linux-Clang = -1..+1 group seq-ci
	push = group seq-dev
	push = group user/cequenser
	read = group seq-dev
	read = group user/cequenser
	rebase = group seq-dev
	rebase = group user/cequenser
	removeReviewer = group seq-dev
	removeReviewer = group user/cequenser
	submit = group seq-dev
	submit = group user/cequenser
[access "refs/heads/*"]
	create = group seq-dev
	read = group seq-dev
	label-Code-Review = -2..+2 group seq-ci
	label-Code-Review = -2..+2 group seq-dev
	label-ClangFormat = -1..+1 group seq-ci
	label-ClangTidy = -1..+1 group seq-ci
	label-Linux-GCC = -1..+1 group seq-ci
	label-Linux-Clang = -1..+1 group seq-ci
	abandon = group seq-dev
	addPatchSet = group seq-dev
	rebase = group seq-dev
	removeReviewer = group seq-dev
	submit = group seq-dev
	submitAs = group seq-dev	
	push = group seq-dev
        push = +force group seq-dev
[access "refs/tags/*"]
	push = group user/cequenser
	push = +force group user/cequenser
	label-Code-Review = -2..+2 group seq-ci
	label-Code-Review = -2..+2 group seq-dev
	label-ClangFormat = -1..+1 group seq-ci
	label-ClangTidy = -1..+1 group seq-ci
	label-Linux-GCC = -1..+1 group seq-ci
	label-Linux-Clang = -1..+1 group seq-ci
[receive]
	requireChangeId = true
[label "ClangFormat"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "ClangTidy"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Linux-GCC"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Linux-Clang"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Verified"]
	defaultValue = 0
	function = MaxWithBlock

